html {
    height: 100%;
    font-size: 15px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    font-family: 'Yu Gothic Light', sans-serif;
}

#codepane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 30%;
}

#editor {
    width: 100%;
    height: 60%;
    resize: none;
    background-color: transparent;

    font-size: 10pt;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

#error {
    width: 100%;
    height: 30%;
    resize: none;

    font-size: 10pt;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

#run {
    width: max-content;
    height: 10%;
    margin: 0 auto;
}

button {
    box-sizing: border-box;
    width: 100px;

    border-radius: 10px;
    border-width: thin;
    background-color: rgb(230, 230, 230);

    font-family: 'Yu Gothic Light', sans-serif;
    font-size: 21px;
    font-weight: bold;

    margin: 5px 8px;
}

button:hover {
    transform: scale(1.1);
}

#export {
    position: absolute;
    left: 20px;
    bottom: 20px;
}