html {
    height: 100%;
    font-size: 15px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    font-family: 'Yu Gothic Light', sans-serif;
    font-weight: lighter;
}

#export {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

button {
    box-sizing: border-box;
    width: 100px;

    border-radius: 2rem;
    border-width: thin;
    background-color: transparent;

    font-family: 'Yu Gothic Light', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;

    margin-top: 5px;
}
button:hover {
    transform: scale(1.1);
}

#editorpane {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
}

button {
    box-sizing: border-box;
    width: 100px;

    border-radius: 2rem;
    border-width: thin;
    background-color: transparent;

    font-family: 'Yu Gothic Light', sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;

    margin-top: 5px;
}

textarea {
    width: 100%;
    height: 80%;

    resize: none;

    font-size: 10pt;
    font-family: 'Consolas', 'Courier New', Courier, monospace;

    top: 0;
    left: 0;
}